.filter {
  .filter-button {
    background: var(--clr-sec);
    color: var(--clr-txt);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0.6em 1.2em;

    font-size: 1em;
    font-weight: 600;
  }
}
