.header {
    width: 100%;

    background: var(--clr-sec);
    color : var(--clr-txt);

    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 1.4em 0.8em;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 1.1em;
        font-weight: 800;

        cursor: pointer;
    }
    .theme-switcher {
        margin-left: auto;
        font-weight: 600;

        opacity: 1;
        transform: none;
        transition: 0.5s;
        
        cursor: pointer;
        &:hover {
            // opacity: 0.8;
            transform: translateY(-2px);
        }
    }

    @media (min-width : 768px) {
        padding: 1.4em 2em;

        h1 {
            font-size: 1.4em;
        }
    }

    @media (min-width : 1024px) {
        padding: 1.4em 3em;

        h1 {
            font-size: 1.6em;
        }
        .theme-switcher {
            font-size: 1.2em;
        }
    }
}