.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    background: var(--clr-sec);
    color: var(--clr-ter);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 10px;
    border-radius: 2px;

    padding: 0.4em 1.2em;

    font-size: 1.3em;

    .search-icon {
        transform: rotate(110deg);
        opacity: 0.8;
    }

    input {
        border: none;
        outline: none;
        background-color: var(--clr-sec);

        font-size: 1.2rem;

        color: var(--clr-ter);
    }
    input::placeholder {
        opacity: 0.8;
        font-size: 1rem;
    }

    @media (max-width : 768px) {
        justify-content: left;
    }
}

.search.dark {
    color: var(--clr-txt);
    input, input::placeholder {
        color : var(--clr-txt)
    }
}